---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');

console.log(posts);

const formatDate = (date: Date) => {
  return date.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
  });
};

---

<Layout>
  <div class="container">
    <h1 class="page-title mb-7.5 lg:mb-15">Blog</h1>
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-5 gap-y-6.25 lg:gap-y-15">
      {
        posts.map((post, index) => (
          <>
            <a href={`/blog/${post.id}`} class={index === 0 || index === 6 ? 'lg:col-span-2' : 'col-span-1'}>
              <Image src={post.data.cover} format="avif" quality={100} alt="post" class="mb-3.75 w-full min-h-[260px] rounded-xl object-cover" />
              <div>
                <h2 class="text-lg/none lg:text-xl mb-3.75 lg:mb-5">{post.data.title}</h2>
                <p class="text-secondary mb-5">{post.data.description}</p>
                <span>{formatDate(post.data.date)}</span>
              </div>
            </a>
            {[0, 2, 4, 8].includes(index) && <div class="hidden lg:block w-[355px]" />}
          </>
        ))
      }
    </div>
  </div>
</Layout>
