---
import Layout from '@/layouts/Layout.astro';
const data = await import('@/data/customers_says.json');
const video_reviews = await import('@/data/video_reviews.json');
---

<Layout>
  <div class="container">
    <h2 class="page-title mb-12.5 md:mb-15">Reviews</h2>
    <h2 class="section-title">What our customers say</h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-5 mb-20 md:mb-25 lg:mb-40">
      {
        data.customers.map((item) => (
          <div class="bg-lightGray p-5 rounded-xl h-[220px] md:h-[260px]">
            <div class="flex flex-col justify-between h-full">
              <div class="space-y-2.5 flex flex-col">
                <span class="uppercase font-semibold">{item.name}</span>
                <span class="text-secondary">{item.position}</span>
              </div>
              <p>“{item.text}”</p>
            </div>
          </div>
        ))
      }
    </div>

    <h2 class="section-title">Join ThousandS OF Satisfied Owners</h2>

    <div class="grid grid-cols-2 lg:grid-cols-4 lg:grid-rows-3 gap-2.5 md:gap-4">
      <div class="h-[220px] md:h-[260px] lg:h-[320px] hidden lg:block"><p>Whether you're a business owner or homeowner, we aim to connect, inform, and deliver exceptional materials while being the best partner for all your roofing needs.</p></div>
      <div class="h-[220px] md:h-[260px] lg:h-[320px] target-video" data-poster={video_reviews.video_urls[0].poster} data-src={video_reviews.video_urls[0].video_url}></div>
      <div class="h-[220px] md:h-[260px] lg:h-[320px] target-video" data-poster={video_reviews.video_urls[1].poster} data-src={video_reviews.video_urls[1].video_url}></div>
      <div class="h-[220px] md:h-[260px] col-span-2 lg:col-span-1 lg:h-auto lg:row-span-2 target-video" data-poster={video_reviews.video_urls[2].poster} data-src={video_reviews.video_urls[2].video_url}></div>
      <div class="h-[220px] md:h-[260px] lg:h-[320px] lg:col-span-2 target-video" data-poster={video_reviews.video_urls[3].poster} data-src={video_reviews.video_urls[3].video_url}></div>
      <div class="lg:col-start-3 h-[220px] md:h-[260px] lg:h-[320px] col-span-2 lg:col-span-1 target-video" data-poster={video_reviews.video_urls[4].poster} data-src={video_reviews.video_urls[4].video_url}></div>
      <div class="lg:row-start-3 h-[220px] md:h-[260px] lg:h-[320px] target-video" data-poster={video_reviews.video_urls[5].poster} data-src={video_reviews.video_urls[5].video_url}></div>
      <div class="lg:row-start-3 h-[220px] md:h-[260px] lg:h-[320px] target-video" data-poster={video_reviews.video_urls[6].poster} data-src={video_reviews.video_urls[6].video_url}></div>
      <div class="lg:col-span-2 h-[220px] md:h-[260px] lg:h-[320px] row-start-3 target-video" data-poster={video_reviews.video_urls[7].poster} data-src={video_reviews.video_urls[7].video_url}></div>
    </div>
  </div>
</Layout>

<script>
  import { PlyrLayout, VidstackPlayer } from 'vidstack/global/player';

  const targets = document.querySelectorAll('.target-video');
  for (const target of targets) {
    if (target instanceof HTMLElement) {
      VidstackPlayer.create({
        target: target,
        layout: new PlyrLayout({
          thumbnails: 'https://files.vidstack.io/sprite-fight/thumbnails.vtt'
        })
      });
    }
  }
</script>
