---
import { Image } from 'astro:assets';
import ArrowRightTopIcon from '@/icons/arrow-right-top.svg';
import { getCollection } from 'astro:content';
import { formatDate } from '@/utils';
const posts = await getCollection('blog');
console.log(posts[0]);
---

<section id="blog" class="py-20 md:py-25 lg:py-40">
  <div class="container">
    <span class="section-pretitle block uppercase mb-5">Blog</span>
    <div class="flex justify-between items-end gap-5 pb-7.5">
      <h2 class="section-title mb-0">Useful articles and tips</h2>
      <a href="/blog" class="uppercase font-semibold hidden md:block underline-hover">Read more</a>
    </div>
    <div class="flex flex-col xl:flex-row gap-5 xl:py-5 xl:border-y xl:border-secondary mb-8 md:mb-0">
      <a href={`/blog/${posts[0].id}`} class="group flex flex-col md:flex-row xl:flex-col gap-5 pb-5 border-b border-secondary xl:w-1/2 xl:border-none">
        <div class="w-full md:flex-[0_0_355px] h-75 md:h-65 xl:h-[412px] overflow-hidden rounded-xl">
          {posts[0].data.cover && <Image src={posts[0].data.cover} alt={posts[0].data.title} class="size-full object-cover group-hover:scale-105 transition-transform" />}
        </div>

        <div class="flex flex-col xl:flex-row justify-between h-auto xl:h-full">
          <div class="max-w-[330px] flex flex-col justify-between">
            <h3 class="text-xl/none mb-5">{posts[0].data.title}</h3>
            <p class="text-secondary">{posts[0].data.description}</p>
          </div>
          <div class="flex xl:flex-col justify-between h-full items-end">
            <span>{formatDate(posts[0].data.published_settings.created)}</span>
            <div class="grid place-items-center size-12.5 rounded-full bg-primary">
              <ArrowRightTopIcon />
            </div>
          </div>
        </div>
      </a>

      <div class="flex flex-col gap-5 xl:w-1/2">
        <a href={`/blog/${posts[1].id}`} class="group flex flex-col md:flex-row gap-5 pb-5 border-b border-secondary">
          <div class="w-full md:flex-[0_0_355px] h-75 md:h-65 xl:h-62.5 overflow-hidden rounded-xl">
            <Image src={posts[1].data.cover} alt={posts[1].data.title} class="size-full object-cover group-hover:scale-105 transition-transform" />
          </div>

          <div class="flex flex-col justify-between">
            <div class="max-w-[350px]">
              <h3 class="text-xl/none mb-5">{posts[1].data.title}</h3>
              <p class="text-secondary">{posts[1].data.description}</p>
            </div>
            <div class="flex justify-between items-end">
              <p>{formatDate(posts[1].data.published_settings.created)}</p>
              <div class="grid place-items-center size-12.5 rounded-full bg-primary">
                <ArrowRightTopIcon />
              </div>
            </div>
          </div>
        </a>
        <a href={`/blog/${posts[2].id}`} class="group flex flex-col md:flex-row gap-5 pb-5 border-b border-secondary xl:border-none xl:pb-0">
          <div class="w-full md:flex-[0_0_355px] h-75 md:h-65 xl:h-62.5 overflow-hidden rounded-xl">
            <Image src={posts[2].data.cover} alt={posts[2].data.title} class="size-full object-cover group-hover:scale-105 transition-transform" />
          </div>

          <div class="flex flex-col justify-between">
            <div class="max-w-[350px]">
              <h3 class="text-xl/none mb-5">{posts[2].data.title}</h3>
              <p class="text-secondary">{posts[2].data.description}</p>
            </div>
            <div class="flex justify-between items-end">
              <p>{formatDate(posts[2].data.published_settings.created)}</p>
              <div class="grid place-items-center size-12.5 rounded-full bg-primary">
                <ArrowRightTopIcon />
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <a href="#" class="uppercase font-semibold md:hidden">Read more</a>
  </div>
</section>
