---
import { Image } from 'astro:assets';
import Button from '@/components/starwind/button';
import { getEntry } from 'astro:content';
const showrooms =  await getEntry('showrooms', 'showrooms');
console.log(showrooms)
---

<section id="touchroom">
  <div class="container">
    <span class="section-pretitle block uppercase mb-5">SeE & Touch our products in person</span>
    <div class="flex flex-col lg:flex-row gap-20 lg:items-end justify-between mb-7.5">
      <h2 class="section-title mb-0">Visit Our Showroom: <br /> Inspiring Ideas and Ready Solutions</h2>
      <Button href="#" variant="primary" class="w-[355px] hidden lg:flex">Visit our showroom</Button>
    </div>
    <div class="embla-showroom mb-6 lg:mb-0">
      <div class="flex items-start overflow-x-visible">
        {
          showrooms?.data?.map((item, index) => (
            <div data-width={item.width} data-height={item.height} class=" rounded-xl min-w-0 overflow-hidden showroom-image mr-2.5 md:mr-5">
              <Image src={item.image} class="size-full object-cover" alt='riverside showroom' />
            </div>
          ))
        }
      </div>
    </div>
    <Button href="#" variant="primary" class="w-full lg:hidden">Visit our showroom</Button>
  </div>
</section>

<script>
  import EmblaCarousel from 'embla-carousel';
  import Autoplay from 'embla-carousel-autoplay';
  const emblaNode = document.querySelector('.embla-showroom') as HTMLElement;
  const options = { loop: true, align: 'start' as const };
  const emblaApi = EmblaCarousel(emblaNode, options, [
    Autoplay({
      delay: 3000
    })
  ]);

  const isDesktop = typeof window !== 'undefined' ? window.innerWidth >= 1024 : false;

  const images = document.querySelectorAll('.showroom-image') as NodeListOf<HTMLImageElement>;

  images.forEach((image) => {
    const width = image.dataset.width ? `${image.dataset.width}px` : '500px';
    const randomMobileWidth = `${Math.floor(Math.random() * (300 - 200 + 1) + 200)}px`;
    image.style.flex = isDesktop ? `0 0 ${width}` : `0 0 ${randomMobileWidth}`;
    image.style.height = isDesktop ? image.dataset.height + 'px' : randomMobileWidth;
  });
</script>
